.Header {
    width: 1920px;
    height: 80px;
    background-color: antiquewhite;
}
.Nav {
    width: 1020px;
    height: 60px;
    background-color: bisque;
}
ul {
    list-style: none;
    color: blanchedalmond;
}
a {
    text-decoration: none;
    transition: 1s;
}
a:hover {
    font-size: 30px;
    color:blanchedalmond;
}
img {
    width:  300px;
    height: 300px;
    transition: 3s;
}
img:hover {
    width: 600px;
    height: 600px;
    rotate: 360deg;
}